<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Nuxbet</title>
    <meta name="keywords" content="" />
    <meta name="description" content="Play and be happy!!" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nuxbet" />
    <meta property="og:site_name" content="Nuxbet" />
    <meta property="og:description" content="Play and be happy!!" />
    <meta
      property="og:image"
      content="https://back.oddservice.live/external_storage/social_pic/DeqjUZ99O2ue87qh4MHfzKaRHsIGkg6R6WZCzcVy.png"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Nuxbet" />
    <meta name="twitter:description" content="Play and be happy!!" />
    <meta
      name="twitter:image"
      content="https://back.oddservice.live/external_storage/social_pic/DeqjUZ99O2ue87qh4MHfzKaRHsIGkg6R6WZCzcVy.png"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <script defer="defer" src="/js/main.js?1b5632c28ddcbca35e71"></script>
    <link href="/css/style.css?1b5632c28ddcbca35e71" rel="stylesheet" />
  </head>
  <body>
    <div id="app"></div>
  
    <script>
      !(function (e, t, n, c, o, a, f) {
        e.fbq ||
          ((o = e.fbq =
            function () {
              o.callMethod
                ? o.callMethod.apply(o, arguments)
                : o.queue.push(arguments);
            }),
          e._fbq || (e._fbq = o),
          (o.push = o),
          (o.loaded = !0),
          (o.version = "2.0"),
          (o.queue = []),
          ((a = t.createElement(n)).async = !0),
          (a.src = "https://connect.facebook.net/en_US/fbevents.js"),
          (f = t.getElementsByTagName(n)[0]).parentNode.insertBefore(a, f));
      })(window, document, "script"),
        fbq("init", "12332142124442142"),
        fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=12332142124442142&ev=PageView&noscript=1"
    /></noscript>
  </body>
</html>
